# Editor
.vscode/
# For future exceptions
# .vscode/
# !.vscode/settings.json

# Environment
.env
venv/


# Cache and migrations
*.pyc
__pycache__/
paws/**/migrations/*
!paws/**/__init__.py

# Data
db.sqlite3
